<div class="container">
  <div class="row" style="padding-top: 50px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <li class="list-group-item active">Tạo ví</li>
      <form method="POST" action="/wallets">
        <div class="form-group">
          <input
            type="text"
            name="wallet"
            class="form-control"
            placeholder="Tên ví"
          />
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
      </form>
    </div>
  </div>
</div>